@charset "utf-8";
/* CSS Document */


/* Common */
.c0{color:#000}.c3{color:#333}.c6{color:#666}.c9{color:#999}.cc{color:#ccc}.cf{color:#fff}.dfdfdf{color:#dfdfdf}
.fs12{font-size:12px}.fs14{font-size:14px}.fs16{font-size:16px}.fs18{font-size:18px}.fs20{font-size:20px}.fs24{font-size:24px}.fs36{font-size:36px}
.cp{cursor:pointer}.cd{cursor:default}
.m0{margin:0}
.ml1{margin-left:1px}.ml2{margin-left:2px}.ml15{margin-left:15px}div.ml10{margin-left:10px}.ml20{margin-left:20px}
.ml30{margin-left:30px}.ml40{margin-left:40px}.ml50{margin-left:50px}.ml60{margin-left:60px}.ml70{margin-left:70px}
.ml0{margin-left:0}

.margin-auto{margin: 0 auto};

.mr1{margin-right:1px}.mr2{margin-right:2px}.mr5{margin-right:5px}.mr10{margin-right:10px}.mr20{margin-right:20px}
.mt1{margin-top:1px}.mt2{margin-top:2px}.mt5{margin-top:5px}.mt10{margin-top:10px}.mt20{margin-top:20px}.mt160{margin-top:160px}
.mt55{margin-top:55px}.mt45{margin-top:45px}.mt40{margin-top:40px}.mt30{margin-top:30px}.mt14{margin-top:14px}
.mt50{margin-top:50px}

.mtb30{margin-top:30px;margin-bottom:30px;}
.mtb40{margin-top:40px;margin-bottom:40px;}
.mtb50{margin-top:50px;margin-bottom:50px;}

.mb1{margin-bottom:1px}.mb2{margin-bottom:2px}.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb20{margin-bottom:20px}
.p1{padding:1px}.pl1{padding-left:1px}.pt1{padding-top:1px}.pr1{padding-right:1px}.pb1{padding-bottom:1px}
.p2{padding:2px}.pl2{padding-left:2px}.pt2{padding-top:2px}.pr2{padding-right:2px}.pb2{padding-bottom:2px}
.p5{padding:5px}.pl5{padding-left:5px}.pt5{padding-top:5px}.pr5{padding-right:5px}.pb5{padding-bottom:5px}
.p10{padding:10px}.pl10{padding-left:10px}.pt10{padding-top:10px}.pr10{padding-right:10px}.pb10{padding-bottom:10px}
.p20{padding:20px}.pl20{padding-left:20px}

.ptb20{padding-top:20px; padding-bottom:20px;}
.pd30-20{padding:30px 20px;}

.width60{width:60px;}.width70{width:70px;}.width80{width:80px;}.width90{width:90px;}.width100{width:100px;}
.width50{width:50px;}.width55{width:55px;}.width40{width:40px;}.width30{width:30px;}.width211{width:211px;}
.width82{width:82px;}.width75{width: 75px;}
.width85{width:85px;}.width170{width:170px;}
.width143{width:143px;}

.wh160{width: 160px; height: 170px;}
.wh129{width: 129px; height: 139px;}
.wh90{width: 90px; height: 91px;}


/*	圆角 */
.radius6{
-webkit-border-radius: 6px 6px 6px 6px;
-moz-border-radius: 6px 6px 6px 6px;
border-radius: 6px 6px 6px 6px;
}


.overflow-hide{overflow: hidden;
  *overflow: visible;
  zoom: 1;}
.pagination ul > li:first-child > a {
border-left-width: 1px;
-webkit-border-bottom-left-radius: 15px;
border-bottom-left-radius: 15px;
-webkit-border-top-left-radius: 15px;
border-top-left-radius: 15px;
-moz-border-radius-bottomleft: 15px;
-moz-border-radius-topleft: 15px;
}
.pagination ul > li:last-child > a{
-webkit-border-top-right-radius: 15px;
border-top-right-radius: 15px;
-webkit-border-bottom-right-radius: 15px;
border-bottom-right-radius: 15px;
-moz-border-radius-topright: 15px;
-moz-border-radius-bottomright: 15px;
}
.gray-blue a{ color:#999999;font-weight:normal;}
.gray-blue a:hover {color:#54b4eb;text-decoration:none;}
.border1{border:#dddddd solid 1px;}

.text-blue{color:#54b4eb;}


body{padding-top: 0; font-family:"Microsoft YaHei"}
.container{width:980px;}
.logo{ margin-top:20px;}
.plr20{ padding-right: 20px; padding-left:20px;}
.tr-thead { background-color:#f9f9f9;}
.price{color: #f00;font-weight: bolder;font-size: 14px;}

<!--登陆框-->

#inputEmail, #inputPassword, #inputPasswordReg, #inputPasswordConfirm ,#changeCode,#checkCode{
	font-size:12px;
}
#login-form, #reg-form ,#sell-form,#buy-form,
#feedback-form,#destine-form,#applyCancel-form,
#updaApplyCancel-form,#destineSell-form{
	margin-bottom:0;
}


/*相关推荐*/
.recommend{*margin-left:-30px;/*IE7*/-webkit-border-radius: 4px;-moz-border-radius: 4px ;border-radius: 4px;}
.recommend-bar{width: 100%;padding: 5px 0;border-bottom: 1px solid #ccc;background-color:#f9f9f9;}
.recommend-title{display: inline;padding-left: 11px;border-left: 3px solid #3399FF;margin-left: 15px;}
.change-batch{background: url(../images/change.png) no-repeat left center;padding-left: 22px;}
.book-content{padding:12px 0 12px 18px;}
.book-content ul{list-style:none;margin:0;}
.book-content ul li{width:105px; float:left;margin-left:6px;}


/* 表单input字体 */
.controls input,.controls span{ font-size:12px;}


/*简单对话框*/
.dialog-content{ margin-top:20px; margin-left:50px;}

.dialog-question{ margin-left:15px;}
.dialog-content div.dialog-question { float:left;margin-top:12px; margin-left:20px;}
.modal.feedback-ok{width:400px; margin-left:-200px;}
/*搜索框*/

input.hl34 {
	height:33px;
	line-height:34px;
 *height:35px;  /*IE7*/
}
#searchbtn {
height:43px;
*height:45px;
outline: none;
padding: 10px 30px 11px;
}

.modal-header h3,.modal-header h4{
	*margin-top:-10px;
}
.modal-header button.close{
	*height:20px;
	*margin-top:0;
	
}

.red{color:#f00;}
.table td, .table th {
text-align: center;
}
.table td.text-left{text-align: left}